{% extends 'adminapp/base.html' %}
{% block title %}Dashboard{% endblock title %}
{% block content %}
<div class="container">
    <div class="columns">
      <div class="column is-2 is-offset-1">
        <aside class="menu">
          <p class="menu-label">
            Users
          </p>
          <ul class="menu-list">
            {% if users %}
            {% for user in users %}
            <li><a>{{ user.username }}</a></li>
            {% endfor %}
            {% endif %}
          </ul>
          <br><br>
          <p class="menu-label">
            Stores
          </p>
          <ul class="menu-list">
            <li><a>Nairobi branch</a></li>
            <li><a>Kisumu branch</a></li>
            <li><a>Nyeri branch</a></li>
            <li><a>Thika branch</a></li>
            <li><a>Mombasa branch</a></li>
            <li><a>Eldoret branch</a></li>
          </ul>
        </aside>
      </div>
      <div class="column is-9">
        <section class="info-tiles">
            <div class="tile is-ancestor has-text-centered">
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <p class="title"><small>Kshs. {{ todayssales }}</small></p>
                        <p class="subtitle"><small>Today's sales</small></p>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <p class="title"><small>Kshs. {{ monthsales }}</small></p>
                        <p class="subtitle"><small>This month's sales</small></p>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <p class="title">{{ users.count }}</p>
                        <p class="subtitle">Users</p>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <p class="title">19</p>
                        <p class="subtitle">Extra</p>
                    </article>
                </div>
            </div>
        </section>
        <br><br>
        <section>
          <p class="title is-4 has-text-centered">Recent Statistics</p>
          <div class="columns">
            <div class="column" id="firstcoladmin">
              <p class="title is-5 has-text-centered">Today's Sales</p>
              <table class="admindashtable">
                <thead>
                  <tr>
                    <th>Payment ID</th>
                    <th>Total amount</th>
                  </tr>
                </thead>
                <tbody>
                  {% if todayspayments %}
                  {% for payment in todayspayments %}
                  <tr>
                    <td>{{ payment.payment_id }}</td>
                    <td>{{ payment.total_price }}/=</td>
                  </tr>
                  {% endfor %}
                  {% endif %}
                </tbody>
              </table>
            </div>
            <div class="column">
              <p class="title is-5 has-text-centered">Bestselling products</p>
              <table class="admindashtable">
                <thead>
                  <tr>
                    <th>Products</th>
                    <th>Sales</th>
                  </tr>
                </thead>
                <tbody>
                  {% for key, value in items %}
                    <tr>
                      <td>{{ key }}</td>
                      <td>Kshs. {{ value }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </section>
      </div>
    </div>
</div>
{% endblock content %}