{% extends 'adminapp/base.html' %}
{% block title %}Dashboard{% endblock title %}
{% block content %}
<div class="container">
    <div class="columns">
      <div class="column is-2 is-offset-1">
        <aside class="menu">
          <p class="menu-label">
            Users
          </p>
          <ul class="menu-list">
            {% if users %}
            {% for user in users %}
            <li><a>{{ user.username }}</a></li>
            {% endfor %}
            {% endif %}
          </ul>
          <br><br>
          <p class="menu-label">
            Stores
          </p>
          <ul class="menu-list">
            <li><a>Nairobi branch</a></li>
            <li><a>Kisumu branch</a></li>
            <li><a>Nyeri branch</a></li>
            <li><a>Thika branch</a></li>
            <li><a>Mombasa branch</a></li>
            <li><a>Eldoret branch</a></li>
          </ul>
        </aside>
      </div>
      <div class="column is-9">
        <section class="info-tiles">
            <div class="tile is-ancestor has-text-centered">
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <p class="title"><small>Kshs. {{ todayssales }}</small></p>
                        <p class="subtitle"><small>Today's sales</small></p>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <p class="title"><small>Kshs. {{ monthsales }}</small></p>
                        <p class="subtitle"><small>This month's sales</small></p>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <p class="title">{{ users.count }}</p>
                        <p class="subtitle">Users</p>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <p class="title">19</p>
                        <p class="subtitle">Extra</p>
                    </article>
                </div>
            </div>
        </section>
        <br><br>
        <section>
            <div class="container">
                <div class="columns">
                  <div class="column is-4 is-offset-4">
                      <center><div class="menu-label">PAYMENT ID</div></center>
                      <center><small>{{ payment.payment_id }}</small></center>
                      <br>
                      <center><div class="menu-label">CREATED AT</div></center>
                      <center><small>{{ payment.date_created }}</small></center>
                      <br><br>
                  </div>
                  <div class="column">
                    <div class="container">
                      <div class="menu-label">Total amount</div>
                      <p>Kshs. {{ payment.total_price }}</p>
                    </div>
                  </div>
                </div>
                </div>
                <section>
                    <div class="columns">
                      <div class="column is-8 is-offset-2">
                        {% if items %}
                        <table class="table" id="dashboard-table">
                            <thead>
                              <tr>
                                <th>Product ID</th>
                                <th>Product name</th>
                                <th>Count</th>
                                <th>Total(Kshs.)</th>
                              </tr>
                            </thead>
                            <tbody>
                                {% for item in items %}
                                <tr>
                                    <td>{{ item.product.product_id }}</td>
                                    <td>{{ item.product.product_name }}</td>
                                    <td>{{ item.count }}</td>
                                    <td>{{ item.total_price }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                      </div>
                    </div>
                </section>
              </div>
        </section>
      </div>
    </div>
</div>
{% endblock content %}