@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

* {
    font-family: 'Fira Sans', sans-serif;
}
#form-brand {
    height: 30px;

}

.hero.is-fullheight.is-success {
    background-color: white;
}

#form-btn {
    width: 100%;
}

.hero-body {
    margin-top: 10px;
}

.nav-profile {
    border-radius: 100%;
}

#base-btn {
    width: 100%;
}

#dashboard-table {
    width: 100%;
}

.hero is-medium{
    background-color: white;
}

#fullwidthbutton {
    width: 100%;
}

.admindashtable { 
    width: 100%;
}

#firstcoladmin {
    border-right: 1px solid black;
}